/* General setup*/

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bangers', cursive;
}

#div {
    display: block;
}

.btn {
    position: relative;
    top: 1%;
    z-index: 1;
}

.container {
    margin-top: 5%;
    z-index: 2;
    padding: 20px;
    width: auto;
    
}

.card-body {
    color: white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 5%;
    z-index: 3;
    
   
}

